
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  .stopwatch {
    text-align: left;
    font-family: monospace;
    font-size: 1.3em;
  }

  .stopwatch_container {
    width: 690px;
    margin: auto;
    padding: 3em 0 3em;
  }

  button {
    min-width: 90px;
  }